$bodyColor: #302419;
$primary: #cc141c;
$secondary: #d3c2b2;
$bgColor: #f9f5f1;

body {
  background: $bgColor;
  padding: 2em;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 550px) {
    padding: 1em;
  }
}

.app {
  background: $bgColor;
  font-family: 'Libre Baskerville', serif;
  color: $bodyColor;
  width: 80vw;
  max-width: 800px;
}

h1,
h2,
h3 {
  font-family: 'Squada One', cursive;
}

h1 {
  font-size: 28px;
  color: $primary;
}

h2 {
  font-size: 46px;
  line-height: 1em;
  margin-bottom: 0.4em;
}

a {
  text-decoration: none;
  color: $bodyColor;
  transition: color 0.15s linear;

  &:hover {
    color: $primary;
    transition: color 0.15s linear;
  }
}

a,
p {
  font-size: 1em;
}
