body {
  background: #f9f5f1;
  padding: 2em;
}

.app {
  font-family: 'Libre Baskerville', serif;
  color: #302419;
}

h1,
h2 {
  font-family: 'Squada One', cursive;
}

h1 {
  font-size: 28px;
  color: #cc141c;
}

h2 {
  font-size: 46px;
}
