$bodyColor: #302419;
$primary: #cc141c;
$secondary: #d3c2b2;
$bgColor: #f9f5f1;

body {
  background: $bgColor;
  padding: 2em;
}

.app {
  font-family: 'Libre Baskerville', serif;
  color: $bodyColor;
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Squada One', cursive;
}

h1 {
  font-size: 28px;
  color: $primary;
}

h2 {
  font-size: 46px;
}

a {
  text-decoration: none;
  color: $bodyColor;

  &:hover {
    color: $primary;
  }
}

a,
p {
  font-size: 1em;
}
