.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid $secondary;

  // Styles for the react-select component with `classNamePrefix` prop given `rs`
  // Refer: https://react-select.com/styles#using-classnames
  .rs-container {
    width: 120px;
    border: none;
    font-size: 0.9em;
  }

  .rs__control {
    background: $secondary;
    border: none;
    border-radius: 0;
    color: white;

    &--is-focused {
      box-shadow: none;
    }
  }

  .rs__indicator {
    color: $bodyColor;

    &:hover {
      color: $primary;
    }

    &-separator {
      background-color: $bodyColor;
    }
  }
}
