.single-product {
  p,
  a {
    font-size: 1.3em;
  }

  .home-link {
    color: $primary;
    transition: color 0.15s linear;

    &:hover {
      color: $secondary;
      transition: color 0.15s linear;
    }
  }

  .price {
    font-size: 1.8em;

    span {
      font-size: 0.5em;
      color: lighten($bodyColor, 30);
      margin-right: 0.3em;
    }
  }

  .product-id,
  .edit {
    font-size: 0.8em;
    color: lighten($bodyColor, 30);
    transition: color 0.15s linear;
  }

  .product-id {
    margin-top: 1em;
  }

  .edit span {
    vertical-align: middle;
  }

  .edit:hover {
    color: $primary;
    transition: color 0.15s linear;
  }

  .this-product {
    display: flex;
    justify-content: space-between;
  }
}
